@import url(common.css);

@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');

header{
  width: 100%;
  height: 80px;
  background: linear-gradient(#f7f5f5, 50%, #fff);
  border-top: 1px solid #f0f0f0;
  border-bottom: 1px solid #f0f0f0;
}
header .header_in{
  width: 1400px;
  height: 80px;
  margin: 0 auto;
}
header .header_in .header_logo{
  float: left;
  width: 200px;
  height: 80px;
}
header .header_in .header_menu{
  float: right;
}
header .header_in .header_menu ul li{
  float: left;
  width: 180px;
  height: 80px;
  line-height: 80px;
  font-size: 22px;
  color: #333;
  font-weight: bold;
  border-right: 1px solid #dfdfdf;
  text-align: center;
  transition: all 0.5s;
}
header .header_in .header_menu ul li a{
  padding-bottom: 5px;
  display: block;
}
header .header_in .header_menu ul li:nth-child(1){
  border-left: 1px solid #dfdfdf;
}

header .header_in .header_menu ul li:hover a{
  background: #f5f5f5;
  border-bottom: 2px solid #999;
}

/* Footer */
footer{
  width: 100%;
  background: linear-gradient(#f0f0f0, 50%, #fff);
}
footer .footer_in{
  width: 1400px;
  height: 120px;
  margin: 0 auto;
}
footer .footer_in .footer_top{
  width: 1400px;
  height: 60px;
}
footer .footer_in .footer_top .footermenu ul li{
  float: left;
  font-size: 16px;
  text-align: center;
  width: 220px;
  height: 60px;
  color: #555;
  letter-spacing: -1px;
  line-height: 60px;
  margin-right: 16px;
}
footer .footer_in .footer_top .footermenu ul li:nth-child(6){
  margin-right: 0;
}
footer .footer_in .footer_top ul li a{
  display: block;
}
footer .footer_in .footer_top ul li:hover a{
  background: #ffff;
  border-bottom: 2px solid #999;
}
footer .footer_in .footer_bottom{
  width: 1400px;
  height: 60px;
}
footer .footer_in .footer_bottom .footer_text{
  text-align: left;
  width: 1000px;
  height: 60px;
  font-size: 16px;
  margin-left: 30px;
  float: left;
  color: #333;
  line-height: 60px;
}
footer .footer_in .footer_bottom .sns{
  width: 120px;
  height: 60px;
  float: left;
  margin-left: 35px;
  padding: 10px 0px;
}
footer .footer_in .footer_bottom .sns .sns1{
  float: left;
  width: 40px;
  height: 40px;
}
footer .footer_in .footer_bottom .sns .sns1 img{
  width: 40px;
  height: 40px;
}
footer .footer_in .footer_bottom .sns .sns2{
  float: left;
  width: 40px;
  height: 40px;
  margin-left: 20px;
}
footer .footer_in .footer_bottom .sns .sns2 img{
  width: 40px;
  height: 40px;
}
footer .footer_in .footer_bottom .familysites{
  float: right;
  margin: 15px 0px;
  position: relative;
}
footer .footer_in .footer_bottom .familysites .familysites_show{
  position: relative;
  width: 200px;
  height: 30px;
  padding: 5px 0px;
  font-weight: bold;
  color: #666;
  text-align: center;
  border: 2px solid #666;
  box-sizing: border-box;
  font-size: 15px;
  cursor: pointer;
}
footer .footer_in .footer_bottom .familysites .familysites_show span{
  float: right;
  margin-right: 15px;
  font-size: 20px;
  line-height: 20px;
}
footer .footer_in .footer_bottom .familysites .familysites_list ul{
  position: absolute;
  bottom: 30px;
  left: -1px;
  width: 200px;
  display: none;
}
footer .footer_in .footer_bottom .familysites .familysites_list ul li{
  width: 200px;
  height: 40px;
  text-align: center;
  font-size: 16px;
  line-height: 40px;
  color: #fff;
  background: #299be5;
  margin-left: 1px;
  transition: all 0.3s;
}
footer .footer_in .footer_bottom .familysites .familysites_list ul li:hover{
  background: #1090e6;
}
footer .footer_in .footer_bottom .familysites .familysites_list ul li:hover a{
  border-bottom: 1px solid #fff;
}


footer .footer_in .footer_bottom .familysites .active{
  background: #1090e6;
  color: white;
  border-top: none;
}