@import url(common.css);
@import url(header_footer.css);
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');


/* Section */
section{
  width: 100%;
}
section .seciton_in{
  width: 1400px;
}
section{
  width: 100%;
}
#top_bg{
  position: relative;
  width: 100%;
  height: 900px;
  overflow: hidden;
}
#top_bg>img{
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#top_bg .top_bg_in{
  width: 100%;
  height: 900px;
}
#top_bg .top_bg_text{
  width: 100%;
  height: 900px;
  background: rgba(0,0,0,0.5);
  margin: 0 auto;
  position: absolute;
}
#top_bg .top_bg_text h2{
  text-align: center;
  font-size: 60px;
  color: #fff;
  margin-top: 180px;
}
#top_bg .top_bg_text h3{
  text-align: center;
  font-size: 140px;
  margin-top: 100px;
  color: #fff;
  font-family: 'Nanum Brush Script', cursive;
}
#top_bg .top_bg_text .top_bg_btn{
  width: 250px;
  height: 80px;
  text-align: center;
  position: absolute;
  color: #fff;
  font-size: 30px;
  line-height: 80px;
  border: 2px solid #fff;
  transition: all 0.3s;
}
#top_bg .top_bg_text .intro{
  left: 550px;
  top: 600px;
}
#top_bg .top_bg_text .port{
  left: 1100px;
  top: 600px;
}
#top_bg .top_bg_text .top_bg_btn:hover{
  background: rgba(255,255,255,0.2);
}
#top_bg .top_bg_text .inactive{
  background: rgba(255,255,255,0.8);
  color: #333;
  font-weight: bold;
  font-size: 32px;
}

#contents .contents_in{
  width: 1400px;
  margin: 0 auto;
}

#contents .contents_in h3{
  font-size: 60px;
  text-align: center;
  color: #0c4da2;
  margin-top: 50px;
  letter-spacing: 5px;
  padding-bottom: 20px;
  border-bottom: 2px solid #0c4da2;
}
#contents .contents_in h4{
  font-size: 26px;
  text-align: center;
  margin-top: 30px;
  color: #0c4da2;
  line-height: 60px;
}
#contents .contents_in p{
  font-size: 20px;
  color: #0c4da2;
  text-align: center;
  line-height: 50px;
  margin-top: 30px;
}
.business .business_in{
  margin-top: 50px;
}
.business .business_in .business_icon{
  width: 1400px;
  height: 200px;
  border: 1px solid #999;
  text-align: center;
  margin-bottom: 20px;
}
.business .business_in .business_icon img{
  margin-top: 30px;
  float: left;
  margin-left: 50px;
}
.business .business_in .business_icon span{
  margin-top: 20px;
  margin-left: 50px;
  font-size: 30px;
  color: #0c4da2;
  float: left;
  border-bottom: 1px solid #0c4da2;
  width: 1040px;
  text-align: left;
  padding-bottom: 5px;
}
.business .business_in .business_icon ul{
  display: inline-block;
  width: 1040px;
  height: 100px;
  margin-top: 10px;
  margin-left: 80px;
}
.business .business_in .business_icon ul li{
  list-style: square;
  width: 250px;
  height: 40px;
  font-size: 18px;
  color: #0c4da2;
  float: left;
  margin-bottom: 10px;
  text-align: left;
}

/* introduce_history */
#history .history_in{
  width: 1400px;
  margin-top: 50px;
  position: relative;
}
#history .first_five span{
  color: #0c4da2;
  font-size: 18px;
  margin-left: 40px;
}
#history .second_five span{
  color: #0c4da2;
  font-size: 18px;
  margin-left: 40px;
}
#history .third_five span{
  color: #0c4da2;
  font-size: 18px;
  margin-left: 40px;
}
#history .fourth_five span{
  color: #0c4da2;
  font-size: 18px;
  margin-left: 40px;
}
#history .after_five span{
  color: #0c4da2;
  font-size: 18px;
  margin-left: 40px;
}
#history .history_in .circle{
  width: 30px;
  height: 30px;
  border-radius: 100%;
  background: #0c4da2;
  margin: 0 auto;
  cursor: pointer;
  transition: all 0.3s;
}
#history .history_in .circle:hover{
  background: #48515e;
}
#history .history_in .history_line{
  width: 2px;
  height: 100px;
  background: #0c4da2;
  margin: 0 auto;
}
#history .history_in .five_box{
  width: 500px;
  height: 500px;
  border: 2px solid #0c4da2;
  display: inline;
  position: absolute;
  border-radius: 10px;
  display: none;
  top: 30px;
}
#history .history_in .five_box h5{
  font-size: 36px;
  color: #0c4da2;
  margin-top: 10px;
  text-align: center;
}
#history .history_in .five_box span{
  text-align: center;
  color: #0c4da2;
  font-size: 18px;
  display: block;
  padding: 10px;
}
#history .history_in .five_box .first_span{
  margin-top: 15px;
}

#history .history_in .dis_none{
  display: block;
}
#history .history_in .after_five{
  margin-bottom: 100px;
}
#history .history_in .second_box{
  right: 0;
}
#history .history_in .fourth_box{
  right: 0;
}
